.card-Container {
  border-radius: 10px;
  height: 140px;
  display: flex;
  align-items: center;
  flex-direction: row;
  background-color: rgb(255, 255, 255);
  margin: 10px;
}
/* Img container, style*/
.imgContainer {
  display: flex;
  height: 120px;
  align-items: center;
  justify-content: center;
  flex: 1;
  margin: 10px;
}
.imgContainer > img {
  width: 165px;
  height: 115px;
}
/* Info container, style */
.Info-Container {
  min-height: 120px;
  min-width: 253px;
  flex: 2;
}
.TitleCard {
  font-size: 20px;
  font-weight: 700;
}
.Elements-Width {
  max-width: 400px;
  white-space: nowrap;
}
.Price {
  font-size: 20px;
  font-weight: 600;
}
.Elements-Width p {
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: 17px;
  margin-top: 20px;
  margin-left: 5px;
}
/* Settings container, style */
.Settings-Container {
  min-width: 171px;
  height: 120px;
  flex: 1;
  margin-right: 10px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.Settings-Container p {
  margin: 20px;
  font-weight: 700;
}
/* Media Querry */
@media screen and (max-width: 837px) {
  .card-Container {
    height: auto;
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 427px) {
  .Elements-Width {
    max-width: none;
    width: 300px;
    transition: 1s ease-in;
  }
}
@media screen and (max-width: 385px) {
  .Elements-Width {
    width: 300px;
  }
}
@media screen and (max-width: 300px) {
  .Elements-Width {
    width: 250px;
  }
}
