@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  margin: 0;
  font-family: "Roboto", sans-serif;
}
ul {
  list-style: none;
}

.Home-container {
  background-color: cornflowerblue;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
}
.Home-mid-container {
  background-color: #ffff;
  width: 80%;
  min-height: 100vh;
  margin-top: 100px;
}
.Home-Category {
  display: flex;
  align-items: center;
  height: auto;
  margin-top: 50px;
  flex-direction: column;
}
.Home-Category h1 {
  margin-bottom: 50px;
}
.Home-Category ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}
.Category-Element {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}
.Category-Element > img {
  height: 50px;
  width: 67px;
}
.Home-Category ul li {
  text-transform: capitalize;
  font-weight: bold;
  margin: 30px;
}
.Home-announces {
  background-color: rgb(233, 233, 233);
  height: auto;
  display: flex;
  flex-wrap: wrap;
}
.Cards-annouces {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 50%;
  margin-top: 15px;
  margin-bottom: 25px;
}
.Cards-Body {
  text-align: center;
  border: 1px solid rgb(170, 170, 170);
  background-color: rgb(255, 255, 255);
  padding: 20px;
  width: 50%;
  border-radius: 5px;
}
.Cards-Body p {
  font-size: 15px;
  margin: 10px;
  font-weight: 600;
}
@media screen and (max-width: 694px) {
  .Cards-annouces {
    width: 100%;
  }
}
.Cards-annouces img {
  width: 150px;
  height: 100px;
}
