.My-Background {
  background-color: rgb(48, 185, 156);
  width: 100%;
  min-height: 100vh;
}
.My-Container {
  position: relative;
  top: 100px;
}
.Nav-Middle {
  border-radius: 10px;
  padding: 10px 0 10px 0;
  width: 100%;
  position: absolute;
  bottom: 0px;
  background-color: rgb(233, 233, 233);
}
.Middle-Header {
  position: relative;
  background-image: url("http://localhost:3000/assets/defaultImg/background.png");
  background-repeat: no-repeat;
  background-size: 240px;
  background-position-x: right;
  width: 100%;
  height: 200px;
  background-color: #ffff;
}
.Middle-Title {
  font-size: 30px;
  font-weight: 900;
  position: absolute;
  top: 20px;
  left: 10px;
}
.Middle-List {
  display: flex;
  justify-content: center;
}
.Middle-List > ul {
  display: flex;
}
.CurrentSection,
.OtherSection {
  margin: 0 40px 0 40px;
  border-radius: 10px;
  padding: 5px;
  text-transform: capitalize;
  font-weight: 800;
  font-size: 15px;
  cursor: pointer;
}
.OtherSection:hover {
  color: #ffff;
  background-color: rgb(59, 131, 0);
}
.CurrentSection {
  color: #ffff;
  background-color: rgb(24, 53, 87);
}
.CurrentSection:hover {
  color: #ffff;
  background-color: rgb(24, 53, 87);
}

.Ads-container {
  position: relative;
  width: 100%;
  height: 400px;
  overflow-y: scroll;
  background-color: rgb(178, 206, 223);
}
@media screen and (min-height: 800px) {
  .Ads-container {
    height: 500px;
  }
}
@media screen and (min-height: 1000px) {
  .Ads-container {
    height: 700px;
  }
}
@media screen and (min-height: 1200px) {
  .Ads-container {
    height: 900px;
  }
}
@media screen and (max-width: 670px) {
  .CurrentSection,
  .OtherSection {
    margin: 0 20px 0 20px;
    transition: 1s ease-in;
  }
}
@media screen and (max-width: 520px) {
  .CurrentSection,
  .OtherSection {
    margin: 0 10px 0 10px;
    transition: 1s ease-in;
  }
}
@media screen and (max-width: 420px) {
  .Middle-List > ul {
    display: flex;
    flex-wrap: wrap;
    width: 200px;
    height: 60px;
    flex-direction: column;
  }
}
@media screen and (max-width: 356px) {
  .Middle-Header {
    background-size: 200px;
  }
  .Middle-Title {
    transition: 1s ease-out;
    font-size: 25px;
    font-weight: 700;
  }
}
@media screen and (max-width: 313px) {
  .Middle-Header {
    background-size: 140px;
  }
}
