.follow-button {
  padding: 0.2em;
  border-radius: 4px;
  outline: none;
  background-color: rgb(87, 87, 87);
  color: whitesmoke;
  cursor: pointer;
  width: 70px;
  height: 30px;
  font-size: 1rem;
}
