.posts-container {
  width: 100%;
  display: grid;
  grid-template-columns: auto auto auto;
}

.post-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  margin: 1em;
}

.post-picture {
  width: 275px;
  height: 300px;
  object-fit: cover;
}
