.userMessageAvatar {
  width: 25px;
  height: 25px;
  object-fit: cover;
}

.message-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
}

.message-user-content {
  color: whitesmoke;
  border-radius: 10px;
  padding: 5px;
  margin: 4px 0 4px 0;
}

.message-content-style {
  border-radius: 15px;
  padding: 5px;
}

.my-message {
  display: flex;
  align-items: center;
  gap: 5px;
  justify-content: flex-end;
  width: 100%;
}

.other-message {
  display: flex;
  align-items: center;
  gap: 5px;
  width: 100%;
  justify-content: flex-start;
}
