.user-main-details {
  margin-top: 5em;
  margin-bottom: 2em;
  display: flex;
  justify-content: center;
}

.picture-and-details {
  display: flex;
  flex-direction: row;
  width: 100%;
  /* width: 60%; */
  max-width: 1200px;
  justify-content: space-around;
}

.user-profile-picture {
  width: 180px;
  height: 180px;
  object-fit: cover;
  border-radius: 50%;
}

.user-posts {
  display: flex;
  justify-content: center;
}

.name-and-edit-profile {
  display: flex;
  flex-direction: row;
  padding: 0.5em;
  padding-left: 0;
}

.name-and-edit-profile > button {
  margin-left: 1em;
  margin-right: 1em;
}

.edit-profile-button {
  padding: 0.2em;
  border-radius: 4px;
  outline: none;
  background-color: rgb(87, 87, 87);
}

.edit-profile-link {
  text-decoration: none;
  font-size: 1.1rem;
  color: whitesmoke;
}

.posts-follows-followings {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding: 1em;
  padding-left: 0;
  list-style: none;
}

.posts-follows-followings > li {
  margin-right: 1em;
  cursor: pointer;
  font-size: 1em;
  font-weight: bold;
}
