.home-navigation {
  display: flex;
  flex-direction: row;
  justify-content: center;
  border: 1px solid;
}

.home-navigation-container {
  position: absolute;
  top: 0;
  z-index: 1;
  width: 100%;
}
.news-component-container {
  position: fixed;
}

.news-component-container-hidden {
  visibility: none;
}
