.mess-container {
  display: flex;
  align-items: center;
  position: relative;
  font-size: 15px;
  height: 65px;
  border-radius: 5px;
  margin: 20px;
}
.messLeft {
  display: flex;
  position: absolute;
  width: 120px;
  left: 30px;
}
.userName-mess {
  margin-left: 25px;
}
.messMid {
  position: absolute;
  width: 550px;
  left: 160px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.messRight {
  right: 20px;
  top: 10px;
  position: absolute;
  width: 100px;
}
@media screen and (max-width: 880px) {
  .messMid {
    width: 350px;
    transition: 1s ease-in;
  }
}
@media screen and (max-width: 690px) {
  .messMid {
    width: 170px;
    transition: 1s ease-in;
  }
}
@media screen and (max-width: 495px) {
  .messRight {
    right: 0px;
    width: 50px;
  }
}
@media screen and (max-width: 417px) {
  .messMid {
    width: 100px;
    transition: 1s ease-in;
  }
}
@media screen and (max-width: 357px) {
  .messLeft {
    left: 10px;
  }
  .userName-mess {
    margin-left: 15px;
  }
  .messMid {
    left: 115px;
  }
}
@media screen and (max-width: 313px) {
  .messMid {
    width: 60px;
  }
}
