.search-users-box {
  height: 30px;
  font-size: 0.95rem;
  border: 1px solid rgb(204, 204, 204);
  border-radius: 4px;
  padding: 0.3em;
}

.show-users {
  border: 1px solid gray;
  border-radius: 4px;
  position: fixed;
  width: 188px;
}

.user-search-card {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: white;
}

.user-picture {
  width: 30px;
  height: 30px;
  margin-right: 0.3em;
}

.username-style {
  text-decoration: none;
}
