.user-page-container {
  background-color: whitesmoke;
  min-height: 99vh;
}

.center-nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-nav-user-page {
  position: fixed;
}

.follows-heading {
  display: flex;
  flex-direction: column;
}

.followers-number {
  font-size: 1em;
  font-weight: bold;
  background-color: rgba(228, 228, 228, 0);
  border: none;
  cursor: pointer;
}

.post-picture {
  width: 275px;
  height: 300px;
  object-fit: cover;
}

.edit-profile-link {
  text-decoration: none;
  font-size: 1.1rem;
  color: whitesmoke;
}

.edit-profile-button {
  padding: 0.2em;
  border-radius: 4px;
  outline: none;
  background-color: rgb(87, 87, 87);
}
