.user-page-container {
  background-color: whitesmoke;
  min-height: 99vh;
}

.center-nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-nav-user-page {
  position: fixed;
}

.user-profile-picture {
  width: 180px;
  height: 180px;
  object-fit: cover;
  border-radius: 50%;
}

.user-main-details {
  margin-top: 5em;
  margin-bottom: 2em;
  display: flex;
  justify-content: center;
}

.picture-and-details {
  display: flex;
  flex-direction: row;
  width: 60%;
  justify-content: space-around;
}

.posts-follows-followings {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding: 1em;
  padding-left: 0;
}

.posts-follows-followings > h4 {
  margin-right: 1em;
}

.name-and-edit-profile {
  display: flex;
  flex-direction: row;
  padding: 0.5em;
  padding-left: 0;
}

.name-and-edit-profile > button {
  margin-left: 1em;
  margin-right: 1em;
}

.post-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  margin: 1em;
}

.post-picture {
  width: 275px;
  height: 300px;
  object-fit: cover;
}

.user-posts {
  display: flex;
  justify-content: center;
}

.posts-container {
  display: flex;
  width: 70%;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.user-posts-container {
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 614px) {
  .user-posts-container {
    justify-content: center;
  }
}

.edit-profile-link {
  text-decoration: none;
  font-size: 1.1rem;
  color: whitesmoke;
}

.edit-profile-button {
  padding: 0.2em;
  border-radius: 4px;
  outline: none;
  background-color: rgb(87, 87, 87);
}
